@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #050507;
  font-size: 1rem;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Zen Kurinaido', sans-serif;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

li {
  list-style: none;
}

a {
  color: #050507;
  text-decoration: none;
}

.container {
  margin: 0 30px;
  max-width: 1400px;
}

/* --#header----------------------- */
#header {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 50px 50px;
  
}

#header span {
  color: rgb(244, 91, 91);
}

#header h1 {
  font-size: 3rem;
  color: rgb(5, 5, 7, 0.6);
}

#header .btn {
  background-color: rgb(244, 91, 91);
  border-radius: 10px;
  margin-left: 50px;
}

#header .btn:hover {
  opacity: 0.8;
}

#header .btn a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 7px 10px;
}

/* --#footer------- */
#footer {
  text-align: center;
  margin-bottom: 25px;
}

/* sample_spice_herb_recipe1_all_menu_page.css */
/* --main------- */
.grid-area {
  margin: 20px;
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid-area .item:hover {
  opacity: 0.8;
}

.grid-area .item p {
  margin-top: 7px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0 50px 0;
}

.pagination li {
  margin: 0 15px;
}

.pagination .current-page {
  background-color: rgb(244, 91, 91);
  color: #fff;
  font-size: 1.25rem;
  padding: 5px 10px 5px 10px;
}

.pagination .page-1 {
  background-color: rgb(244, 91, 91);
  color: #fff;
  font-size: 1.25rem;
}

.pagination .page-2 {
  background-color: rgb(244, 91, 91);
  color: #fff;
  font-size: 1.25rem;
}

.pagination .page-1 a,
.pagination .page-2 a {
  display: block;
  color: #fff;
  padding: 10px 10px 5px 10px;
  height: 40px;
  line-height: 20px;
}

.pagination 

/* --.to-top------- */
.to-top {
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgb(244, 91, 91);
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.to-top:hover {
  opacity: 0.8;
}

.to-top::after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #fff;
  position: relative;
  left: 15px;
  bottom: 8px;
  pointer-events: none;
}

.to-top a {
  width: 50px;
  height: 50px;
  position: fixed;
}

/* sample_spice_herb_recipe1_recipe_page.css */
#recipe-page-item .flex {
  display: flex;
  margin: 50px;
}

#recipe-page-item .flex img {
  height: 100%;
}

#recipe-page-item .recipe-page-recipe {
  margin-left: 50px;
}

#recipe-page-item .content-title {
  margin-top: 20px;
}

#recipe-page-item .ingredient-dl {
  display: flex;
  flex-wrap: wrap;
}

#recipe-page-item .ingredient-dl dt {
  width: 80%;
  border-bottom: dotted 1px rgb(5, 5, 7, 0.6);
  padding: 5px 0;
}

#recipe-page-item .ingredient-dl dd {
  width: 20%;
  border-bottom: dotted 1px rgb(5, 5, 7, 0.6);
  padding: 5px 0;
  text-align: right;
}

#recipe-page-item .making-ol li {
  margin-left: 20px;
  border-bottom: dotted 1px rgb(5, 5, 7, 0.6);
  padding: 5px 0;
  list-style: decimal;
}

/* スマホレスポンシブ 800*/
@media screen and (max-width: 920px) {
  /* --#header レスポンシブ------------------- */
  #header {
    flex-direction: column-reverse;
  }

  #header h1 {
    font-size: 1.475rem;
    color: rgb(5, 5, 7, 0.6);
    margin-top: 30px;
  }
  
  #header .btn {
    margin-left: 0;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #header .btn a {
    font-size: 1rem;
  }

  /* スマホレスポンシブ sample_spice_herb_recipe_all_menu_page.css */
  .grid-area .item p {
    margin-top: 0;
  }

  /* スマホレスポンシブ sample_spice_herb_recipe1_recipe_page.css */
  #recipe-page-item .flex {
    flex-direction: column;
    margin: 50px 20px 80px 20px;
  }

  #recipe-page-item .flex img {
    width: 100%;
  }

  #recipe-page-item .recipe-page-recipe {
    margin-left: 0;
  }

  #recipe-page-item .recipe-page-recipe p {
    text-align: center;
  }

  #recipe-page-item .cooking-name {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 0 10px 0;
  }

  #recipe-page-item .content-title {
    font-size: 1.25rem;
    margin: 60px 0 20px 0;
  }


  /* ヘッダーのアンカータグの大きさ親要素に合わす
  
  */
}