@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #050507;
  font-size: 1rem;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Zen Kurinaido', sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: #050507;
  text-decoration: none;
}

/* --#header----------------------- */
#header {
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/sample_spice_herb_recipe1_mainvisual_pexels-mateusz-feliksik-13428053.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#header h1 {
  font-size: 3rem;
  position: absolute;
  /* left: calc(50% - 290px);
  top: calc(50% - 37px); */
  bottom: 10px;
  left: 30px;
  color: rgb(5, 5, 7, 0.6);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px 15px 0 15px;
  /* font-weight: normal; */
}

#header span {
  color: rgb(255, 0, 0, 0.6);
}
/* --ハンバーガーメニュー------------ */
/* --#mainvisual------------------- */
/* --#information------------------ */
/* --#access----------------------- */
/* --#contact---------------------- */
/* --#footer----------------------- */
/* --レスポンシブ------------------- */
/* --レスポンシブ#information------- */
/* --レスポンシブ#access------------ */
/* --レスポンシブ#contact----------- */
/* --レスポンシブ#footer------------ */

/* --やることリスト----------------- */
