@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #050507;
  font-size: 1rem;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Zen Kurinaido', sans-serif;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

li {
  list-style: none;
}

a {
  color: #050507;
  text-decoration: none;
}

.container {
  margin: 0 30px;
  max-width: 1400px;
}



/* --#header----------------------- */
#header {
  margin-bottom: 50px;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/sample_spice_herb_recipe1_mainvisual_pexels-mateusz-feliksik-13428053.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 44% 44%;
  position: relative;
}

#header h1 {
  font-size: 3rem;
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: rgb(5, 5, 7, 0.6);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px 15px 0 15px;
}

#header span {
  color: rgb(244, 91, 91);
}

#header .sns {
  position: absolute;
  right: 25px;
  bottom: 75px;
}

#header .sns li {
  margin-bottom: 10px;
}

#header .sns li:last-child {
  margin-bottom: 0;
}

#header .sns li:hover {
  rotate: 45deg;
}

/* --#search-profile------------ */
#search-profile {
  display: flex;
  margin-bottom: 50px;
}

#search-profile .search {
  width: 50%;
}

#search-profile .search input {
  display: inline-block;
  border: solid 1px rgb(5, 5, 7, 0.6);
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 10px;
} 

#search-profile .search input[type="search"] {
  width: 70%;
}

#search-profile .search input[type="submit"] {
  background-color: rgb(5, 5, 7, 0.6);
  color: #fff;
}

#search-profile .search input[type="submit"]:hover {
  opacity: 0.8;
}

#search-profile .search .btn {
  display: block;
  width: 100px;
  background-color: rgb(244, 91, 91);
  border-radius: 10px;
}

#search-profile .search .btn:hover {
  opacity: 0.8;
}

#search-profile .search .btn a {
  display: block;
  width: 100px;
  color: #fff;
  line-height: 2;
  text-align: center;
}

#search-profile .profile {
  width: 50%;
  display: flex;
}

#search-profile .profile img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#search-profile .profile .profile-name {
  font-size: 25px;
  margin-left: 35px;
}

#search-profile .profile .profile-right {
  margin-left: 30px;
  line-height: 2;
  margin-top: 50px;
}

#search-profile .profile .profile-right-responsive {
  display: none;
}

/* --#recipe------------------- */
#recipe {
  margin-bottom: 50px;
}

#recipe .category-title {
  font-weight: normal;
  margin: 0 20px 20px 20px;
  text-align: center;
}

#recipe .pick-up {
  margin-bottom: 70px;
}

/* --..slick-area----------------------- */
#recipe .slick-area li {
  padding-right: 10px;
}

#recipe .slick-area li:hover {
  opacity: 0.7;
}

#recipe .slick-area li p {
  margin: 10px;
  text-align: center;
}

/* --.flex-area----------------------- */
.flex-area {
  display: flex;
  justify-content: center;
}

.flex-area li {
  margin: 0 10px;
}

.flex-area li:hover {
  opacity: 0.7;
}

.flex-area li p {
  margin: 10px;
  text-align: center;
}

/* --.one-dish---------------------- */
.one-dish {
  margin-bottom: 70px;
}

/* --.main----------------------- */
.main-dish {
  margin-bottom: 70px;
}

/* --.staple-food------------------- */
.staple-food {
  margin-bottom: 70px;
}

.flex-area img {
  height: 300px;
}

/* --.bottom_search-btn------- */
.bottom_search-btn {
  display: block;
  background-color: rgb(244, 91, 91);
  border-radius: 10px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.bottom_search-btn:hover {
  opacity: 0.8;
}

.bottom_search-btn a {
  display: block;
  width: 115px;
  color: #fff;
  font-size: 16px;
  line-height: 2;
  padding: 3px 0;
  text-align: center;
}

.to-top {
  display: none;
}

.to-top:hover {
  opacity: 0.8;
}

/* --#footer------- */
#footer {
  text-align: center;
  margin-bottom: 25px;
}

/* スマホレスポンシブ 800*/
@media screen and (max-width: 800px) {
  /* --#header レスポンシブ------------------- */
  #header {
    background-position: 29% 29%;
  }

  #header h1 {
    font-size: 1.25rem;
    bottom: 10px;
    left: 10px;
    padding: 8px 10px 5px 10px;
  }

  #header .sns {
    position: absolute;
    left: 10px;
    bottom: 50px;
    display: flex;
    
  }

  #header .sns li {
    margin: 0 5px 5px;
  }

  #header .sns li a i {
    font-size: 35px;

  }

  /* --#search-profile レスポンシブ------------------- */
  #search-profile {
    flex-direction: column;
  }

  #search-profile .search {
    width: 100%;
  }

  #search-profile .profile {
    width: 100%;
    flex-direction: column;
  }

  #search-profile .search input {
    margin-bottom: 15px;
  }

  #search-profile .search .btn {
    margin-bottom: 50px;
  }

  #search-profile .profile img {
    display: block;
    margin: 0 auto 10px auto;
  }

  #search-profile .profile .profile-name {
    text-align: center;
    margin-left: 0;
  }

  #search-profile .profile .profile-right {
    display: none;
  }

  #search-profile .profile .profile-right-responsive {
    display: block;
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
  }

  #search-profile .profile .profile-right-responsive p:first-child {
    margin-bottom: 10px;
    font-weight: bold;
  }

  /* --#recipe レスポンシブ------------------- */
  #recipe .category-title {
    font-weight: bold;
    margin: 0 20px 50px 20px;
  }

  .flex-area {
    flex-direction: column;
    align-items: center;
  }

  .flex-area li p {
    margin: 5px 0 30px 0;
    text-align: center;
    text-decoration: underline;
  }

  .staple-food {
    margin-bottom: 0;
  }

  .bottom_search-btn {
    display: none;
  }

}











/* --レスポンシブ#access------------ */
/* --レスポンシブ#contact----------- */
/* --レスポンシブ#footer------------ */
/* --やることリスト----------------- */

/* メモ */

/* btnのhover考える */
/* セクションごとmargin-bottom: 50px; */
/* btn系のborder-radius: 10px; */

/* レスポンシブ 1300px */