@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #050507;
  font-size: 1rem;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Zen Kurinaido', sans-serif;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

a {
  color: #050507;
  text-decoration: none;
}

.container {
  margin: 0 30px;
  max-width: 1400px;
}



/* --#header----------------------- */
#header {
  margin-bottom: 30px;
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/sample_spice_herb_recipe1_mainvisual_pexels-mateusz-feliksik-13428053.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#header h1 {
  font-size: 3rem;
  position: absolute;
  /* left: calc(50% - 290px);
  top: calc(50% - 37px); */
  bottom: 10px;
  left: 30px;
  color: rgb(5, 5, 7, 0.6);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px 15px 0 15px;
  /* font-weight: normal; */
}

#header span {
  color: rgb(255, 0, 0, 0.6);
}

#header .sns {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

#header .sns li {
  margin-bottom: 10px;
}

#header .sns li:last-child {
  margin-bottom: 0;
}

/* --#search-profile------------ */
#search-profile {
  display: flex;
  margin-bottom: 30px;
}

#search-profile .search {
  width: 50%;
}

#search-profile .search input {
  display: inline-block;
  border: solid 1px rgb(5, 5, 7, 0.6);
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 10px;
} 

#search-profile .search input[type="search"] {
  width: 70%;
}

#search-profile .search .btn {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(255, 0, 0, 0.6);
  border-radius: 10px;
  width: 140px;
}

#search-profile .search .btn::after {
  content: ">>>";
  color: #fff;
  font-size: 0.825rem;
  font-weight: bold;
  /* animation: slide 4s infinite linear;
  animation-direction :normal; */
}

/* @keyframes slide {
  0% {
    color: #fff;
  }
  50% {
    color: rgb(255, 0, 0, 0.6);
  }
} */

/* #search-profile .search .btn:hover:after {
  
  color: #050507;
} */

#search-profile .search .btn a {
  color: #fff;
  font-weight: bold;
}

#search-profile .profile {
  width: 50%;
  display: flex;
}

#search-profile .profile img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#search-profile .profile .profile-name {
  font-size: 2rem;
  margin-left: 30px;
}

#search-profile .profile .profile-right {
  margin-left: 30px;
  line-height: 2;
  margin-top: 50px;
}

/* --#recipe------------------- */
#recipe {
  margin-bottom: 30px;
}

#recipe .category-title {
  font-weight: normal;
  margin: 0 20px 20px 20px;
  text-align: center;
}

/* #recipe .slick-area {
  display: flex;
} */

#recipe .slick-area li {
  padding-right: 10px;
}

/* --#information------------------ */
#recipe .pick-up {
  margin-bottom: 70px;
}

/* --.flex-area----------------------- */
.flex-area {
  display: flex;
}

.flex-area li {
  margin: 0 10px;
}


/* 要下記cssセレクタまとめた方が良い？ */
/* --.one-dish---------------------- */
.one-dish {
  margin-bottom: 70px;
}

/* --.arrange-menu----------------------- */
.arrange {
  margin-bottom: 70px;
}

/* --.challenge-menu------------------- */
.special-menu {
  margin-bottom: 70px;
}







/* --レスポンシブ#information------- */
/* --レスポンシブ#access------------ */
/* --レスポンシブ#contact----------- */
/* --レスポンシブ#footer------------ */
/* --やることリスト----------------- */

/* メモ */
/* セクションごとmargin-bottom: 30px; */
/* btn系のborder-radius: 10px; */

/* レスポンシブ 1300px */